{% load static %}
{% load i18n %}
{% load l10n %}

<footer class="ftco-footer">
    <div class="container mb-5 pb-4">
        <div class="row">
            <div class="col-lg col-md-6">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2 d-flex align-items-center">{% trans 'About' %}</h2>
                    <p>{{ site_settings.slogan|default:"Customer satisfaction is our only priority." }}</p>
                    <ul class="ftco-footer-social list-unstyled mt-4">
                        <li><a href="{{ site_settings.x_link|default:'#' }}"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="{{ site_settings.facebook_link|default:'#' }}"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="{{ site_settings.instagram_link|default:'#' }}"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">{% trans "Links" %}</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-md-4">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Project' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'About Us' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Services' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Blog Posts' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Industries' %}</a></li>
                        </ul>
                        <ul class="list-unstyled ml-md-5">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Contact' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Help' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Privacy Policy' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Terms of Use' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg col-md-6">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">{% trans 'Services' %}</h2>
                    <ul class="list-unstyled">
                        {% for service in site_settings.services|slice:":6" %}
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{{ service }}</a></li>
                        {% empty %}
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Accounting' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Bookkeeping' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Taxation' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Payroll' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Management' %}</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>{% trans 'Research and study' %}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg col-md-6">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">{% trans 'Have a Questions?' %}</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="fa fa-map-marker mr-3"></span><span class="text">{{ site_settings.location|default:"" }}</span></li>
                            <li><a href="#"><span class="fa fa-phone mr-3"></span><span class="text">{{ site_settings.phone_number|default:"" }}</span></a></li>
                            <li><a href="#"><span class="fa fa-paper-plane mr-3"></span><span class="text">{{ site_settings.email|default:"contact@jinoo.ca" }}</span></a></li>
                        </ul>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div class="container-fluid bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-6 aside-stretch py-3">
                    <p class="mb-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> {% trans 'All rights reserved' %} by <a href="{{ site_settings.website_link|default:'https://jinoo.ca' }}" target="_blank">{{ site_settings.company_name|default:"Jinoo Inc" }}</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close d-flex align-items-center justify-content-center" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fa fa-close"></span>
                </button>
            </div>
            <div class="modal-body p-4 p-md-5">
                <form action="{% url 'main_app:request_quote' %}" method="post" class="appointment-form ftco-animate">
                    {% csrf_token %}
                    <h3>{% trans 'Request Quote' %}</h3>
                    <div class="">
                        <div class="form-group">
                            <input type="text" name="first_name" class="form-control" placeholder="{% trans 'First Name' %}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" class="form-control" placeholder="{% trans 'Last Name' %}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="{% trans 'Phone' %}" required>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                    <select name="service" class="form-control" required>
                                        <option value="">{% trans 'Select Your Services' %}</option>
                                        {% for service in site_settings.services %}
                                            <option value="{{ service }}">{{ service }}</option>
                                        {% empty %}
                                            <option value="Accounting">{% trans "Accounting" %}</option>
                                            <option value="Bookkeeping">{% trans "Bookkeeping" %}</option>
                                            <option value="Taxation">{% trans "Taxation" %}</option>
                                            <option value="Payroll">{% trans "Payroll" %}</option>
                                            <option value="Management">{% trans "Management" %}</option>
                                            <option value="Research and study">{% trans "Research and study" %}</option>
                                            <option value="Our Digital platform">{% trans "Our Digital platform" %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <textarea name="message" cols="30" rows="4" class="form-control" placeholder="{% trans 'Message' %}"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="{% trans 'Request A Quote' %}" class="btn btn-primary py-3 px-4">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>